Programing Code:

Colab link [here](https://colab.research.google.com/drive/18pFD1Mf6eGEShq3mEYNvJSdJHYH4cEeh?usp=sharing)

In [1]:
from google.colab import drive
drive.mount('/content/gdrive', force_remount=True)

Mounted at /content/gdrive

In [2]:
!cp /content/gdrive/My\ Drive/True.csv /content/
!cp /content/gdrive/My\ Drive/Fake.csv /content/
!ls

Fake.csv  gdrive  sample_data  True.csv

In [12]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O
import os
truenews = pd.read_csv('True.csv') # the true news dataset
fakenews = pd.read_csv('Fake.csv') # fake news dataset

In [13]:
fakenews.head()

                                               title  ...               date
0   Donald Trump Sends Out Embarrassing New Year’...  ...  December 31, 2017
1   Drunk Bragging Trump Staffer Started Russian ...  ...  December 31, 2017
2   Sheriff David Clarke Becomes An Internet Joke...  ...  December 30, 2017
3   Trump Is So Obsessed He Even Has Obama’s Name...  ...  December 29, 2017
4   Pope Francis Just Called Out Donald Trump Dur...  ...  December 25, 2017

[5 rows x 4 columns]

In [14]:
truenews.head()

                                               title  ...                date
0  As U.S. budget fight looms, Republicans flip t...  ...  December 31, 2017
1  U.S. military to accept transgender recruits o...  ...  December 29, 2017
2  Senior U.S. Republican senator: 'Let Mr. Muell...  ...  December 31, 2017
3  FBI Russia probe helped by Australian diplomat...  ...  December 30, 2017
4  Trump wants Postal Service to charge 'much mor...  ...  December 29, 2017

[5 rows x 4 columns]

In [15]:
fakenews.describe()

                                                    title  ...          date
count                                               23481  ...         23481
unique                                              17903  ...          1681
top     MEDIA IGNORES Time That Bill Clinton FIRED His...  ...  May 10, 2017
freq                                                    6  ...            46

[4 rows x 4 columns]

In [16]:
truenews.describe()

                                                    title  ...                date
count                                               21417  ...               21417
unique                                              20826  ...                 716
top     Factbox: Trump fills top jobs for his administ...  ...  December 20, 2017
freq                                                   14  ...                 182

[4 rows x 4 columns]

In [17]:
truenews['True/Fake']='True'
fakenews['True/Fake']='Fake'

In [18]:
# Combine the 2 DataFrames into a single data frame
news = pd.concat([truenews, fakenews])
news["Article"] = news["title"] + news["text"]
news.sample(frac = 1) #Shuffle 100%

                                                   title  ...                                            Article
6814    Tennessee Republican Leader Vows Punishing Ta...  ...   Tennessee Republican Leader Vows Punishing Ta...
12070  KELLYANNE CONWAY On Trump’s Terrorism Policy: ...  ...  KELLYANNE CONWAY On Trump’s Terrorism Policy: ...
16965  North Korea warns threats a 'big miscalculatio...  ...  North Korea warns threats a 'big miscalculatio...
3753   Ryan tries to tamp down Comey memo furor, says...  ...  Ryan tries to tamp down Comey memo furor, says...
5123   Highlights: The Trump presidency on March 5 at...  ...  Highlights: The Trump presidency on March 5 at...
...                                                  ...  ...                                                ...
3632    Bernie Sanders Gets Brutally Honest On ‘Conan...  ...   Bernie Sanders Gets Brutally Honest On ‘Conan...
1505   House to vote on federal budget next week: Hou...  ...  House to vote on federal budget next week: Hou...
8803   Obama must make new budget request for Iraq tr...  ...  Obama must make new budget request for Iraq tr...
18046  LOL! CROOKED and IRRELEVANT HILLARY CLINTON GO...  ...  LOL! CROOKED and IRRELEVANT HILLARY CLINTON GO...
13221  BOOM! WATCH VP CANDIDATE TIM KAINE “Skirt” The...  ...  BOOM! WATCH VP CANDIDATE TIM KAINE “Skirt” The...

[44898 rows x 6 columns]

In [19]:
news.head()

                                               title  ...                                            Article
0  As U.S. budget fight looms, Republicans flip t...  ...  As U.S. budget fight looms, Republicans flip t...
1  U.S. military to accept transgender recruits o...  ...  U.S. military to accept transgender recruits o...
2  Senior U.S. Republican senator: 'Let Mr. Muell...  ...  Senior U.S. Republican senator: 'Let Mr. Muell...
3  FBI Russia probe helped by Australian diplomat...  ...  FBI Russia probe helped by Australian diplomat...
4  Trump wants Postal Service to charge 'much mor...  ...  Trump wants Postal Service to charge 'much mor...

[5 rows x 6 columns]

In [21]:
# Data Cleaning
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')
import string
def process_text(s):
    # Check string to see if they are a punctuation
    nopunc = [char for char in s if char not in string.punctuation]
    
    # Join the characters again to form the string.
    nopunc = ''.join(nopunc)
    
    # Convert string to lowercase and remove stopwords
    clean_string = [word for word in nopunc.split() if word.lower() not in stopwords.words('english')]
    return clean_string

In [22]:
# Tokenize the Article
news['Clean Text'] = news['Article'].apply(process_text)

In [23]:
news.sample(5)

                                                   title  ...                                         Clean Text
2536   Trump says would be surprised if Iran complian...  ...  [Trump, says, would, surprised, Iran, complian...
1053   U.S. partisan split widening over Russia probe...  ...  [US, partisan, split, widening, Russia, probe,...
2412    WATCH: Conservatives Don’t Punch Nazis, They ...  ...  [WATCH, Conservatives, Don’t, Punch, Nazis, Gi...
10053  White House finds temporary fix in Zika fundin...  ...  [White, House, finds, temporary, fix, Zika, fu...
9281   WATCH: MEGHAN MCCAIN RIPS Into Joy Behar For H...  ...  [WATCH, MEGHAN, MCCAIN, RIPS, Joy, Behar, Emba...

[5 rows x 7 columns]

In [25]:
from sklearn.feature_extraction.text import CountVectorizer
bow_transformer = CountVectorizer(analyzer=process_text).fit(news['Clean Text'])
print(len(bow_transformer.vocabulary_)) #Total vocab words

39099

In [26]:
#Bag-of-Words (bow) transform the entire DataFrame of text
news_bow = bow_transformer.transform(news['Clean Text'])

In [27]:
print('Shape of Sparse Matrix: ', news_bow.shape)
print('Amount of Non-Zero occurences: ', news_bow.nnz)

Shape of Sparse Matrix:  (44898, 39099)
Amount of Non-Zero occurences:  44898

In [28]:
sparsity = (100.0 * news_bow.nnz / (news_bow.shape[0] * news_bow.shape[1]))
print('sparsity: {}'.format(round(sparsity)))

sparsity: 0

In [29]:
#TF-IDF
from sklearn.feature_extraction.text import TfidfTransformer

tfidf_transformer = TfidfTransformer().fit(news_bow)
news_tfidf = tfidf_transformer.transform(news_bow)
print(news_tfidf.shape)

(44898, 39099)

In [30]:
# Train Naive Bayes Model
from sklearn.naive_bayes import MultinomialNB
fakenews_detect_model = MultinomialNB().fit(news_tfidf, news['True/Fake'])

In [33]:
from sklearn.model_selection import train_test_split

news_train, news_test, text_train, text_test = train_test_split(news['Article'], news['True/Fake'], test_size=0.3)

print(len(news_train), len(news_test), len(news_train) + len(news_test))

31428 13470 44898

In [34]:
from sklearn.pipeline import Pipeline

pipeline = Pipeline([
    ('bow', CountVectorizer(analyzer=process_text)),  
    ('tfidf', TfidfTransformer()),  
    ('classifier', MultinomialNB()),  
])
pipeline.fit(news_train,text_train)

Pipeline(memory=None,
         steps=[('bow',
                 CountVectorizer(analyzer=<function process_text at 0x7f2174e8f378>,
                                 binary=False, decode_error='strict',
                                 dtype=<class 'numpy.int64'>, encoding='utf-8',
                                 input='content', lowercase=True, max_df=1.0,
                                 max_features=None, min_df=1,
                                 ngram_range=(1, 1), preprocessor=None,
                                 stop_words=None, strip_accents=None,
                                 token_pattern='(?u)\\b\\w\\w+\\b',
                                 tokenizer=None, vocabulary=None)),
                ('tfidf',
                 TfidfTransformer(norm='l2', smooth_idf=True,
                                  sublinear_tf=False, use_idf=True)),
                ('classifier',
                 MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True))],
         verbose=False)

In [35]:
prediction = pipeline.predict(news_test)

In [36]:
print(classification_report(prediction,text_test))

              precision    recall  f1-score   support

        Fake       0.96      0.98      0.97      6892
        True       0.98      0.95      0.97      6578

    accuracy                           0.97     13470
   macro avg       0.97      0.97      0.97     13470
weighted avg       0.97      0.97      0.97     13470